{% extends 'base.html' %}


{% block title %}home{% endblock title %}

{% block content %}

<h3>Inmakes learning hub</h3>
<p>Inmakes learning hub is a part of the inmakes software solutions, leading software company in kerala. inmakes is best known for delivering high-level software training to the learners by experienced industry experts. inmakes believes in bridging the gap between the Educated and Unemployed.

In today’s world, there are hundreds of students who are educated from the best of the institutes and possess the best credentials in terms of the graduation achieved. However, they are unemployable or not readily consumed by industries due to the lack of knowing what goes in developing a software that solves a real life problem.

We are providing a wide range of professional educational services like Data science, Ai, IoT, Blockchain, Anjularjs, python, and many other Programs which are totally cost effective and job oriented.
</p>
{% endblock content %}


