{% extends 'mainbase.html' %}

{% block title %}home{% endblock title %}

{% block content %}
<div class="d-flex">
    
    <div>
       <h3> Welcome To Inmakes Family</h3>
       <h4>Inmakes Infotech Pvt.Ltd is a software development and web development company located at opp. Technopark, Kazhakoottam, Trivandrum.</h4><p> We provide best in class services regarding software development, software training ,web application development, web hosting.</p>
       <p>Learning Today For A Better Tomorrow</p>

       <p>When you learn a brand-new skill, you open up more opportunities for your career.</p>

        We are providing a wide range of professional educational services like Data science, Ai, IoT, Blockchain, Anjularjs, python, and many other Programs which are totally cost effective and job oriented. Apart from that, your knowledge should be kept always updated with the latest technology and Program curriculum is completely based on the industry needs. We provide our students with high-quality learning aids that include books as well as CDs with well managed sitting arrangements.</p>
      

</div>






{% endblock content %}